<!DOCTYPE html>
<html>
	<head>
		<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title><%= content_for?(:title) ? yield(:title) : "Citytaxy" %></title>
	    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Citytaxy" %>">
	    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	    <%= csrf_meta_tags %>
	  </head>
	</head>
	<body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
	<main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
	</body>
</html>